<div class="card card-block">
  <h4 class="card-title">{{light.name}}</h4>
  <p class="card-text">{{light.id}} {{light.state.on}}</p>
  <p [style]="lightColor(light)">
    TEST
  </p>
  <input type="range" min="0" max="100" value="{{100*light.state.bri/255}}" #ref (change)="setBri(ref.value)">
  <button (click)="turnOnLight(light)" class="card-link btn" [ngClass]="{'btn-primary': light.state.on}" [disabled]="!light.state.reachable">ON</button>
  <button (click)="turnOffLight(light)" class="card-link btn" [ngClass]="{'btn-primary': !light.state.on}" [disabled]="!light.state.reachable">OFF</button>
</div>
